*.aocx
*.aoco
*.out
filter-kmers
filter-shd
filter-shouji
filter-sneaky
datasets/
fpga/*/kmers/
fpga/*/shd_3_var/
fpga/*/shd_3_100_100/
fpga/*/kmers_100_100/
fpga/*/kmers_var/
fpga/*/shouji_3_var/
fpga/*/shd/
fpga/*/sneaky_3_var/
fpga/*/sneaky_3_100_100/
fpga/*/test/
fpga/metagenerator
